{% extends 'cciudadesBundle:Default:base2.html.twig' %}


   {% block meta %}


    <meta name="description" content="'Coordinates'">



    <meta name="keywords" content="'Coordinates'">

{% endblock %}





{% block title 'search city coordinates' %}

  {% block content %}

 
  <form action="{{ path('cciudades_recibirformulario') }}" method="post" {{ form_enctype(form) }}>
			{{ form_widget(form) }}
			<input type="submit" value="Submit" />
			</form>
        
  
        


    
    
    
    
    


{% endblock %}